@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản lý xưởng cỗ</title>
    <script src="~/app/v1.1/appConfig.js"></script>
    <script src="~/app/v1.1/appConstants.js"></script>
    <script id="sap-ui-bootstrap"
            src="https://res.hmisp.com.vn/sapui/1.101.1/sap-ui-core.js"
            data-sap-ui-theme="sap_horizon"
            data-sap-ui-libs="sap.m"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-language="vi"
            data-sap-ui-async="true"
            data-sap-ui-frameOptions="trusted"
            data-sap-ui-oninit="module:app/init"
            data-sap-ui-resourceroots='{
			      "app": "/app/v1.1"
		      }'>
    </script>
</head>
<body class="sapUiBody" id="hmibodyContent">
</body>
</html>
